server:
  port: 8089

spring:
  application:
    name: HRA-user-service

  datasource:
    url: jdbc:oracle:thin:@//localhost:1521/orcl
    username: siva
    password: siva
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
kafka:
  bootstrap-servers: localhost:9093
  producer:
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  properties:
    spring.json.add.type.headers: false
app:
  kafka:
    user-topic: user-events

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      default-zone: http://localhost:8761/eureka